#-*-Makefile-*- vim:syntax=make
TARGET = impulse-splitcore

# Special flags for Epic USB Mini Programmer
MSP_BSL_FLAGS = --swap-reset-test --invert-reset --invert-test

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

PFLAGS += -DMONJOLO_VERSION=4

$(call TOSMake_include_platform,impulse)
$(call TOSMake_include_make_platform,msp)

$(TARGET): $(BUILD_DEPS)
	@:
